/* Drzewo z teksturą */
.tree {
    width: 18px;
    height: 18px;
    background-image: url('images/woodtexture1.png'); /* Tekstura drewna */
    background-size: cover;  /* Dopasowanie tekstury do rozmiaru */
    border: 1px solid #4c566a;
    position: absolute;
    transition: opacity 0.3s;
}

/* Kamień z teksturą */
.stone {
    width: 18px;
    height: 18px;
    background-image: url('images/stonetexture.png'); /* Tekstura kamienia */
    background-size: cover;  /* Dopasowanie tekstury do rozmiaru */
    border: 1px solid #4c566a;
    position: absolute;
    transition: opacity 0.3s;
}

/* Gracz (jeśli masz teksturę dla gracza) */
#player {
    width: 18px;
    height: 18px;
    background-image: url('images/player.png'); /* Tekstura gracza (jeśli chcesz) */
    background-size: cover;  /* Dopasowanie tekstury do rozmiaru */
    border: 1px solid #4c566a;
    position: absolute;
    top: 0;
    left: 0;
    transition: top 0.1s, left 0.1s; /* Płynny ruch */
}
